<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>とくしまOSS勉強会</h1>
		<ul>
			<li><a href="/introduction/by_mongo">自己紹介（mongo）</a></li>
			<li><a href="/introduction/by_mysql">自己紹介（mysql）</a></li>
			<li><a href="/slides">スライド</a></li>
		</ul>
  </body>
</html>
